* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #f7f7f7;
}

/* Configurando tags semânticas (header, main, section...) */

#header {
    padding: 2em;
    background-color: #140D4F;
    color: #ffffff;
}

#header h2 {
    color: #35d335;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav ul li {
    float: left;
    background-color: transparent;
}

nav ul li a {
    display: block;
    color: #1618b9;
    background-color: #f7f7f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #1e7a4b;
}

/* Tabela */

#tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 5em;
}

#tabela h2 {
    color: brown;
}

#tabela tr {
    padding: 0px 2em;
    text-indent: 15px;
    font-size: 1.3em;
}

#tabela table thead tr {
    background-color: black;
    color: white;
}

#tabela thead > tr > th {
    padding: 1em;
}


/* Estilização com pseudoclasse*/

#tabela table tbody tr:nth-child(odd) {
    background-color: silver;
}

#tabela table tbody tr:nth-child(even) {
    background-color: gold;
}

#tabela table tbody tr:hover {
    background-image: linear-gradient(90deg, orange, rgb(224, 146, 0));
}

/* Formulário */

#formulario input {
    transition: 0.5s;
}

#formulario form input:focus {
    background-color: #c0c0c0;
}

td, th {
    font-family: 'Courier New', Courier, monospace;
}

 /* Parentes */

 #parentes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
 }

 h3 ~ p {
     color: blueviolet;
 }

h3 + p {
    color: pink;
}

